<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Stock Price Prediction</title>
</head>
<body>
    <h1>Stock Price Prediction</h1>
    
    <form method="post" action="/predict">
        <label for="ticker_symbol">Enter Company Code:</label>
        <input type="text" id="ticker_symbol" name="ticker_symbol" value="AAPL" required>
        <br>
        <label for="end_date">Enter End Date for Prediction:</label>
        <input type="date" id="end_date" name="end_date" required>
        <button type="submit">Predict</button>
    </form>

    <h1>Stock Price Prediction Result</h1>
    
    <p>Company Code: {{ ticker_symbol }}</p>
    <p>End Date for Prediction: {{ end_date }}</p>
    
    <h2>Predicted Stock Price: {{ predicted_price }} </h2>

    {% if plot_path %}
        <h2>Past Stock Prices and Predicted Price</h2>
        <iframe src="{{ plot_path }}" width="100%" height="600" frameborder="0"></iframe>
    {% endif %}


</body>
</html>
